*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    // overflow-x: hidden;
   
}

body{
    width: 100%;
    height: auto;
   max-width: 100%;

}

.section{
      width: 100%;
      max-width: 100%;
    height: 100vh;
    flex-shrink: 0;
    background-image: url("assets/IMG_0258 1.png");
    background-size: cover;
    background-position: center;
}

.Hero_section{
    height: 100vh;
    background-color: #0e52059d;
}



.nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.nav > img{
    margin-left: 5%;
}

.nav ul{
    display: flex;
    gap: 20px;
    margin-right: 5%;
}

.nav ul li{
    list-style: none;
    position: relative;

}

.nav ul li a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    transition: all 0.5s ;

}

 li > .activeLink:active{
    color: white;
    font-weight: 900;
}   



.productDrop{
    
        .productList{
            
            background-color: #0e5205bd;
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(2px);
            width: 283px;
            height: 320px;
            display: none;
            position: absolute;
            left: -46%;
            z-index: 9;
            border-radius: 15px;
            
            


            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;

                li{
                    text-align: center;
                    font-size: 12px;

                .listItem{
                        font-size: 22px;
                        font-weight: 300;
                    }

                    .listItem:hover{
                        font-weight: 400;
                    
                    }
                }
            
            
            

            }
        }

    }

    .productDrop:hover img{
        transform: translateY(2px);
        transition: all 0.4s;
    }
    
    .productDrop:hover .productList{
        display: block;
        // transform: translateY(20px);
    
    }

    
a  > button{
    border-radius: 40px;
    background: #FFF;
    width: 200px;
    height: 45px;
    color: #0E5205;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
}

button > img{
    position: relative;
    top: 4px;
    left: 4px;
}

.Hero_section > button {
    border-radius: 40px;
    background: #FFF;
    width: 150px;
    height: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    position: relative;
    top: 6em;
    margin-left: 5%;

    .productLink{
        text-decoration: none;
        color: #0E5205;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 15px;
    }
}

h1{
    color: white;
    position: relative;
    top: 1em;
    margin-left: 5%;
    color: #FFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h4{
    color: #FFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
    position: relative;
    top: 1.5em;
    margin-left: 5%;
     font-style: normal;
     font-weight: 300;
    line-height: normal;
}

h4 > span{
    font-family: 'Noto Sans JP', sans-serif;
    color: #FFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

hr{
    width: 335px;
    position: relative;
    top: 10.5em;
    height: 1px;
    opacity: 0.4;
}

.hero_footer{
    position: relative;
    top: 3em;
    display: flex;
    justify-content: space-between;
  

    

}
.hero_footer > h4{
    color: #FFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    top: 4em;
    left: 4em;
}

.hero_footer > .partnership{
    display: flex;
    align-items: center;
    position: relative;
    top: 9em;
}

@media screen and (max-width: 769px) {
    
    // body{
    //     overflow-x: hidden;
    // }
   
   .section{
    width: 105%;
    background-size:cover;
    background-position: center;
    height: 104vh;
   }
   .Hero_section{
    height: 105vh;
    background-color: #0e52059d;
    background-size: 50% auto;
}

.nav > ul{
    display: none;
}

.nav > img{
   margin: auto;
   position: relative;
   left: 5rem;
} 

h1{
    font-size: 25px;
    position: relative;
    top: 4em;
}

h4{
    font-size: 20px;
    position: relative;
    top: 5.5em;
    right: 0.5em;
 
}
h4 > span{
    font-size: 20px; 
   
    
  
}

hr{
    width: 300px;
    opacity: 1;
    position: relative;
    top: 18em;
}

.hero_footer{
    display: block;
    position: relative;
    top: 10em;
}

.Hero_section > button {
    border-radius: 40px;
    background: #FFF;
    width: 150px;
    height: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    position: relative;
    top: 14em;
    margin-left: 5%;

    .productLink{
        text-decoration: none;
        color: #0E5205;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 15px;
    }
}



.hero_footer > .partnership{
    margin: auto;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 9em;
}

    
}

@media screen and (max-width:375px){

    body{
        overflow-x: hidden;
    }
    .section{
        width: 100%;
        background-size:cover;
        background-position: center;
        height: 104vh;
        overflow-y: hidden;
       }
}


@media screen and (max-width:414px){

    body{
        overflow-x: hidden;
    }
    .section{
        width: 100%;
        background-size:cover;
        background-position: center;
        height: 104vh;
        overflow-y: hidden;
       }
}











