@import "../../../App.scss";

.reason{
    background: url("/upforest.png");
    width: 100%;
    height: 170vh;
    object-fit: cover;
    background-size: cover;
    margin-top: -16%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: -120%;

    // @include tablet{
    //     margin-top: -120%;
    //     position: relative;

    // }

    @include mobile{
        max-width: 100%;
        max-height: 100vh;
        background-size: contain;
        position: relative;
        top: 26em;
        margin-bottom: -785%;
       
    }

    .reasonText{
        margin-bottom: 50%;


       
        .Rtext{
            color: #0E5205;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 80px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            width: 768px;
            height: 109px;
            flex-shrink: 0;
            position: relative;
            bottom: 15em;
            left: 2em;


            @include mobile{
                margin-bottom: 120px;
                font-size: 35px;
                position: relative;
                left: 10em;
                top: -4em;
            }
        }
    }

    .reasons{
        display: flex;
        flex-direction: column;
        margin-top: 25%;
        position: relative;
        right: 14.5em;

    
        @include mobile{
            margin:auto;
            position: relative;
            right: 15.5em;
      
        }
        
        .one{

            @include mobile{
                margin: auto;
                position: relative;
                top: 7em;
                right: 8em;
                
            }

            p{
                width: 494px;
                flex-shrink: 0;
                color: #0E5205;
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 145.8%;

                // @include tablet{
                //    width:1024px;
                    
                //  }  

                @include mobile{
                    margin: auto;
                    font-size: 21px;
                    max-width: 330px;
                    font-weight: 100;
                }

                span{
                 color: #0E5205;
                text-shadow: 4px 4px 4px #FFF;
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: 145.8%; /* 72.9px */
                text-transform: uppercase;
                @include mobile {
                    font-size: 25px;
                }
                }
            }
        }

        .two{
            position: relative;
            right: 20em;

            @include mobile{
                position: relative;
                right: 8em;
                top: 7em;
            }

            p{
                width: 494px;
                // height: 390px;
                flex-shrink: 0;
                color: #0E5205;
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 145.8%;

                @include mobile{
                    margin: auto;
                    font-size: 20px;
                    max-width: 330px;
                    font-weight: 300;
                }

                span{
                    color: #0E5205;
                    text-shadow: 4px 4px 4px #FFF;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 145.8%; /* 72.9px */
                    text-transform: uppercase;

                    @include mobile {
                        font-size: 25px;
                    }
                }
            }
        }
    }


}