@import "../../../App.scss";
.Section6C{
    width: 100%;
    margin-bottom: -100%;
    margin-top: 20px;


    
   @include mobile{
    width: 100%;
    position: relative;
    top: 82em;
    margin-bottom: -220px;
    height: 10vh;
   }


 
    .page6Heading{
        color: #0E5205;
        margin-left: 12%;
        font-family: Lato , sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include mobile{
            margin: auto;
            font-size: 45px;
            position: relative;
            left: 0.5em;

        }
    }
    .svg{
        object-fit: cover;
        z-index: 3;
        opacity: 999;

        @include mobile{
            background-position: center;
            width: 100%;
            // height: 100vh;
        }
    }
    .Section6Sides{
        display: flex;
        margin-top: -80%;
        margin-left: 10%;

        // @include tablet{
        //     display: flex;
        //     flex-direction: column;
        //     margin: auto;
        //     position: relative;
        //     bottom: 20em;
        // }

        @include mobile{
            display: flex;
            flex-direction: column;
            margin: auto;
            margin-top: -230%;

           
        }

        @include Laptop{
            position: relative;
            top: 4em;
        }

        .Side{
            @include mobile{
                display: flex;
                flex-direction: column;
                gap: 80px;
                margin: auto;

            }
            .img_container{
                

                .img1{
                    width: 340px;
                    height: 220px;
                    flex-shrink: 0;
                    border-radius: 25px 200px;
                    position: relative;
                    bottom: 28.5em;
                    left: 10em;

                    @include mobile{
                        display: none;
                    }
                }

                .border1{
                    width: 419px;
                    height: 317px;
                    flex-shrink: 0;
                    border-radius: 200px 25px;
                    border: 2px solid #fff;
                    position: relative;
                    bottom: 15em;
                    left: 10em;
                    z-index: 2;
                    @include mobile{
                        display: none;
                    }
                }

                .img2{
                    width: 323px;
                    height: 284px;
                    flex-shrink: 0;
                    border-radius: 200px 25px;
                    position: relative;
                    bottom: 30em;
                    left: 7em;
                    z-index: 2;

                    @include mobile{
                        display: none;
                    }
                
                }

                .border2{
                    width: 277.296px;
                    height: 209.792px;
                    transform: rotate(-85.365deg);
                    flex-shrink: 0;
                    border-radius: 100px 25px;
                    border: 2px solid #fff;
                    position: relative;
                    bottom: 42em;
                    left: 28em;
                    z-index: 2;

                    @include mobile{
                        display: none;
                    }
                }

                .img3{
                    width: 323px;
                    height: 244px;
                    flex-shrink: 0;
                    border-radius: 25px 200px;
                    position: relative;
                    bottom: 22em;
                    right: 2em;

                    @include mobile{
                        display: none;
                    }
                }

                .border3{
                    width: 419px;
                    height: 317px;
                    flex-shrink: 0; 
                    border-radius: 200px 25px;
                    border: 2px solid #fff;
                    position: relative;
                    top: 8em;
                    z-index: 2;

                    @include mobile{
                        display: none;
                    }
                }

                .img4{
                    width: 313px;
                    height: 314px;
                    flex-shrink: 0;
                    border-radius: 200px 25px;
                    position: relative;
                    right: 4em;
                    bottom: 43em;

                    @include mobile{
                        display: none;
                    }
                }

                .border4{
                    width: 419px;
                    height: 317px;
                    flex-shrink: 0;
                    border-radius: 200px 25px;
                    border: 2px solid #fff;
                    position: relative;
                    right: 22em;
                    bottom: 14em;
                    z-index: 2;

                    @include mobile{
                        display: none;
                    }
                }

                .borderN{
                    width: 419px;
                    height: 317px;
                    transform: rotate(67.299deg);
                    flex-shrink: 0;
                    border-radius: 200px 25px;
                    border: 2px solid #fff;
                    position: relative;
                    bottom: 41em;
                    z-index: 2;

                    @include mobile{
                        display: none;
                    }
                }
            }

            .section_text1{
                text-align: start;
                position: relative;
                bottom: 25em;
                left: 1em;
                z-index: 2;

               
                @include mobile{
                    position: relative;
                    right: 0;
                    padding: 10px;
                    border:1px solid #0e52059f;
                    width: 90%;
                    margin: auto;
                    border-radius: 4px;
                   
                }
               

                h3{
                    color: #0E5205;

                    font-family: Lato , sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    text-transform: uppercase;
                }
                p{
                    color: #0E5205;

                    font-family: Inter , sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 125%;
                }
            }

            .section_text2{
                position: relative;
                bottom: 20em;
                right: 2em;
                z-index: 2;

              

                @include mobile{
                    background: #0e52057c;
                    height: auto;
                    border-radius: 4px;
                    position: relative;
                    right: 0;
                    bottom: 27em;
                    padding: 10px;
                    width: 90%;
                    margin: auto;
                }

                h3{
                    color: #0E5205;

                    font-family: Lato , sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    text-transform: uppercase;

                }

                p{
                    color: #0E5205;

                    font-family: Inter , sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 125%;
                }

            }

            .section_text3{
                position: relative;
                bottom: 8em;
                left: 8em;

                @include mobile{
                    background: #0e52057c;
                    height: auto;
                    border-radius: 4px;
                    position: relative;
                    left: 0;
                    bottom: 12em;
                    padding: 10px;
                    width: 90%;
                    margin: auto;
                }

                

                h3{
                    color: #0E5205;

                    font-family: Lato , sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    text-transform: uppercase;

                }

                p{
                    color: #0E5205;

                    font-family: Inter , sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 125%;
                }
            }

            .section_text4{
                position: relative;
                bottom:54em;
                left: 10em;

                // @include tablet{
                //     bottom: 50em;
                // }

                @include mobile{
                    position: relative;
                    left: 0;
                    bottom: 50em;
                    padding: 10px;
                    border:1px solid #0e52059f;
                    width: 90%;
                    margin: auto;
                    border-radius: 4px;
                   
                }
               

                
                h3{
                    color: #0E5205;

                    font-family: Lato , sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    text-transform: uppercase;

                }

                p{
                    color: #0E5205;

                    font-family: Inter , sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 125%;
                }

            }
        }

    }
}