// here i have to  check the images

@import "../../../App.scss";

.ImgSection{
    height: 100vh;
    width: 97%;
    margin: auto;
    display: flex;
    margin-top: -25%;
    justify-content: center;
    margin-bottom: -40%;
    position: relative;
    bottom: 14em;
    outline: none;

    @include mobile{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        top: 1em;
        margin-bottom: -500px;
        left: 0;
        height: auto;
    }
    
   
    
    .imgCards{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        gap: 120px;
     

        .imgCard{
            width: 89.034px;
            height: 396.779px;
            margin: 5px;
            position: relative;
            background: url("/oldWoman.webp");
            background-position: center;
            background-size: cover;
            object-fit: cover;
            align-items: flex-start;
            border-radius: 15px;
            margin-bottom: 40px;
            box-shadow: 0px 7px 10px  rgba(0,0,0,0.5);
            transition: 0.5s ease-in-out;

            // @include tablet{
            //     // height: 500px;
            //     width: 80%;
            // }

            .oter{
                background-color: #0e52058a;
                height: 396.779px;
                border-radius: 15px;

                // @include tablet{
                //     // height: 500px;
                //     width: 100%;
                // }
                .card_number{
                    background-color: white;
                    border: 1px solid #0e5205a4;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100px;
                    position: relative;
                    left: 1.2em;
                    bottom: 1em;

                    // @include tablet{
                    //     position: relative;
                    //     left: 17em;
                    //     padding: 20px;
                        
                    // }
                    
                    .number{
                        color: #0E5205;
                        font-family: 'Noto Sans JP', sans-serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;

                        
                       
                    }
                }
               
                .front_text{
                    width: 352px;
                    height: 42px;
                    transform: rotate(-90deg);
                    flex-shrink: 0;
                    color: #FFF;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    position: relative;
                    right: 3.6em;
                    top: 3.5em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    justify-items: center;

                    // @include tablet{
                    //     position: relative;
                    //     left: 1.5em;
                    //     top: 1.8em;
                        
                    // }
                }


                
             
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 15px;
                
    
            }

            .more_details {
                position: relative;
                z-index: 3;
                color: white;
                opacity: 0;
                transform: translateX(30px);
                transition: 0.5s all;
                display: flex;
                justify-content: center;
                align-items: center;
                justify-items: center;
                flex-direction: column;
                
                
                .info_number{
                    width: 197.022px;
                    height: 42.607px;
                    transform: rotate(0.697deg);
                    flex-shrink: 0;
                    color: #FFF;

                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    position: relative;
                    bottom: 1.7em;
                    // left: 1.2em;
                    transition: all 0.2s ease-in;
                   
                }

                .info_text{
                    width: 230.018px;
                    height: 100.904px;
                    transform: rotate(0.697deg);
                    flex-shrink: 0;
                    color: #FFF;
                    text-align: center;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    text-align: center;
                    line-height: 132%;
                    
                    
                    @include mobile{
                        font-size: 28px;
                        font-weight: 100;
                    }
                }

            }
        }

        // here you are going to define it






          .imgCard:hover{ 
                transform: translateX(20px);
                border-radius: 10px;
                width: 300px;
                margin-left: 5px;
                z-index: 9;

                // @include tablet{
                //     position: relative;
                //     right: 2em;
                // }

                @include mobile{
                    width: 120%;
                   
                }

                 }
            .imgCard:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: linear-gradient( #0E5205  );
                z-index: 2;
                transition: 0.5s all;
                opacity: 0;  
            }

            .imgCard:before{
                opacity: 1;

            }

            .imgCard:hover .more_details{
                opacity: 1;
              
                width: 100%;
               border-radius: 4px;
                height: 399px;
                position: relative;
                bottom: 7.5em;
                // left: 2.9em;
                transform: translateX(10px);
                outline: none;
                border-radius: 10px;
                overflow: hidden;

                // @include tablet{
                //     position: absolute;
                //     bottom: 0.2em;
                //     width: 96%;
                // }
            }
            .imgCard:hover .card_number {
                position: relative;
                left: 6em;
                bottom: 2em;
                z-index: 9;
                width: 80px;
                height: 80px;

                // @include tablet{
                //     left: 20em;
                // }
            }
            .imgCard:hover .front_text{
                opacity: 0;
            }

            .imgCard:hover .info_text{
                text-align: center;
            }

            // from here



            .imgCardA{
                width: 89.034px;
                height: 596.779px;
                margin: 5px;
                position: relative;
                background: url("/oldWoman.webp");
                background-position: center;
                background-size: cover;
                object-fit: cover;
    
                align-items: flex-start;
                border-radius: 15px;
                margin-bottom: 40px;
                box-shadow: 0px 7px 10px  rgba(0,0,0,0.5);
                transition: 0.5s ease-in-out;

                // @include tablet{
                //     width: 80%;
                // }

                .oter{
                    background-color: #0e52058a;
                    height: 596.779px;
                    border-radius: 15px;

                    // @include tablet{
                    //     width: 100%;
                    // }

                    .card_number{
                        background-color: white;
                        border: 1px solid #0e5205a4;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100px;
                        position: relative;
                        left: 1.2em;
                        bottom: 1em;

                        // @include tablet{
                        //     position: relative;
                        //     left: 17em;
                        //     padding: 20px;
                            
                        // }
                        
                        .number{
                            color: #0E5205;
                            font-family: 'Noto Sans JP', sans-serif;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 900;
                            line-height: normal;
    
                            
                           
                        }
                    }
                   
                    .front_text{
                        width: 352px;
                        height: 42px;
                        transform: rotate(-90deg);
                        flex-shrink: 0;
                        color: #FFF;
                        font-family: 'Noto Sans JP', sans-serif;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        position: relative;
                        right: 3.6em;
                        top: 3.5em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        justify-items: center;

                        
                    // @include tablet{
                    //     position: relative;
                    //     left: 1.5em;
                    //     top: 1.8em;
                        
                    // }

                        @include mobile{
                            position: relative;
                            top: 6em;
                        }
                    } 
                }
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 15px;
                    
        
                }
    
                .more_details {
                    position: relative;
                    z-index: 3;
                    color: white;
                    opacity: 0;
                    transform: translateX(30px);
                    transition: 0.5s all;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    justify-items: center;
                    flex-direction: column;
                    
                    .info_number{
                        width: 197.022px;
                        height: 42.607px;
                        transform: rotate(0.697deg);
                        flex-shrink: 0;
                        color: #FFF;
    
                        font-family: 'Noto Sans JP', sans-serif;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                        position: relative;
                        bottom: 1.7em;
                        // left: 1.2em;
                        transition: all 0.2s ease-in;
                    }
    
                    .info_text{
                        width: 230.018px;
                        height: 100.904px;
                        transform: rotate(0.697deg);
                        flex-shrink: 0;
                        color: #FFF;
                        text-align: center;
                        font-family: 'Noto Sans JP', sans-serif;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        text-align: center;
                        line-height: 132%;
                        
                        @include mobile{
                            font-size: 28px;
                            font-weight: 100;
                        }
                    }
    
                }
            }
    
              .imgCardA:hover{ 
                    transform: translateX(20px);
                    border-radius: 10px;
                    width: 300px;
                    margin-left: 5px;
                    z-index: 9;

                    // @include tablet{
                    //     position: relative;
                    //     right: 2em;
                    // }
    
                    @include mobile{
                        width: 120%;
                       
                    }
    
                     }
                .imgCardA:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient( #0E5205  );
                    z-index: 2;
                    transition: 0.5s all;
                    opacity: 0;
                }
                .imgCardA:before{
                    opacity: 1;
    
                }
    
                .imgCardA:hover .more_details{
                    opacity: 1;
                  
                    width: 100%;
                   border-radius: 4px;
                   height: 596.779px;
                   position: relative;
                    bottom: 7.5em;
                    // left: 2.9em;
                    transform: translateX(10px);
                    outline: none;
                    border-radius: 10px;
                    overflow: hidden;

                    // @include tablet{
                    //     position: absolute;
                    //     bottom: 0.2em;
                    //     width: 96%;
                    // }
                }
                .imgCardA:hover .card_number {
                    position: relative;
                    left: 6em;
                    bottom: 2em;
                    z-index: 9;
                    width: 80px;
                    height: 80px;

                    // @include tablet{
                    //     left: 22em;
                    // }
                }
                .imgCardA:hover .front_text{
                    opacity: 0;
                }
    
                .imgCardA:hover .info_text{
                    text-align: center;
                }
    
            //   AND HERE TOOO




            .imgCardB{
                width: 89.034px;
                height: 496.779px;
                margin: 5px;
                position: relative;
                background: url("/oldWoman.webp");
                background-position: center;
                background-size: cover;
                object-fit: cover;
                align-items: flex-start;
                border-radius: 15px;
                margin-bottom: 40px;
                box-shadow: 0px 7px 10px  rgba(0,0,0,0.5);
                transition: 0.5s ease-in-out;

                // @include tablet{
                //     width: 80%;
                // }
                .oter{
                    background-color: #0e52058a;
                    height: 496.779px;
                    border-radius: 15px;

                    // @include tablet{
                    //     width: 100%;
                    // }

                    .card_number{
                        background-color: white;
                        border: 1px solid #0e5205a4;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100px;
                        position: relative;
                        left: 1.2em;
                        bottom: 1em;

                        // @include tablet{
                        //     position: relative;
                        //     left: 17em;
                        //     padding: 20px;
                            
                        // }
                        
                        .number{
                            color: #0E5205;
                            font-family: 'Noto Sans JP', sans-serif;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 900;
                            line-height: normal;
    
                            
                           
                        }
                    }
                   
                    .front_text{
                        width: 352px;
                        height: 42px;
                        transform: rotate(-90deg);
                        flex-shrink: 0;
                        color: #FFF;
                        font-family: 'Noto Sans JP', sans-serif;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        position: relative;
                        right: 3.6em;
                        top: 3.5em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        justify-items: center;

                    //       @include tablet{
                    //         position: relative;
                    //         left: 1.5em;
                    //         top: 1.8em;
                        
                    // }

                        @include mobile{
                            position: relative;
                            top: 4.6em;
                        }
                    }
    
    
                    
                 
                }
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 15px;
                    
        
                }
    
                .more_details {
                    position: relative;
                    z-index: 3;
                    color: white;
                    opacity: 0;
                    transform: translateX(30px);
                    transition: 0.5s all;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    justify-items: center;
                    flex-direction: column;
                    
                    .info_number{
                        width: 197.022px;
                        height: 42.607px;
                        transform: rotate(0.697deg);
                        flex-shrink: 0;
                        color: #FFF;
    
                        font-family: 'Noto Sans JP', sans-serif;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                        position: relative;
                        bottom: 1.7em;
                        // left: 1.2em;
                        transition: all 0.2s ease-in;
                    }
    
                    .info_text{
                        width: 230.018px;
                        height: 100.904px;
                        transform: rotate(0.697deg);
                        flex-shrink: 0;
                        color: #FFF;
                        text-align: center;
                        font-family: 'Noto Sans JP', sans-serif;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        text-align: center;
                        line-height: 132%;
                        
                        @include mobile{
                            font-size: 28px;
                            font-weight: 100;
                        }
                    }
    
                }
            }
    
              .imgCardB:hover{ 
                    transform: translateX(20px);
                    border-radius: 10px;
                    width: 300px;
                    margin-left: 5px;
                    z-index: 9;

                    // @include tablet{
                    //     position: relative;
                    //     right: 2em;
                    // }
    
                    @include mobile{
                        width: 120%;
                       
                    }
    
                     }
                .imgCardB:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient( #0E5205  );
                    z-index: 2;
                    transition: 0.5s all;
                    opacity: 0;
                }
                .imgCardB:before{
                    opacity: 1;
    
                }
    
                .imgCardB:hover .more_details{
                    opacity: 1;
                  
                    width: 100%;
                   border-radius: 4px;
                   height: 496.779px;
                   position: relative;
                    bottom: 7.5em;
                    // left: 2.9em;
                    transform: translateX(10px);
                    outline: none;
                    border-radius: 10px;
                    overflow: hidden;

                    // @include tablet{
                    //     position: absolute;
                    //     bottom: 0.2em;
                    //     width: 96%;
                    // }
                }
                .imgCardB:hover .card_number {
                    position: relative;
                    left: 6em;
                    bottom: 2em;
                    z-index: 9;
                    width: 80px;
                    height: 80px;

                        // @include tablet{
                        //     left: 22em;
                        // }
                }
                .imgCardB:hover .front_text{
                    opacity: 0;
                }
    
                .imgCardB:hover .info_text{
                    text-align: center;
                }
    
              

          
    }
}