@import "../../../App.scss";
.scrolly_section{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
    position: relative;
    bottom: 3.3em;
    
    @include mobile{
        display: flex;
        flex-direction: column;

        position: relative;
        top: 1px;
    }
    .items{
        display: flex;
        margin: 60px;
        flex-direction: column;
        justify-content: center;

        
        .item_img{
            width: 380px;
            height: 280px;
            object-fit: cover;
            border-radius: 30px 200px;
            border: 2px solid #FFF;
            margin-left: 40px;
            position: relative;
            bottom: 30em;

            @include mobile{
                display: none;
            }
            
        }

        .img_container{
            width: 359px;
            height: 260px;
            flex-shrink: 0;
            border-radius: 30px 200px;
            border: 2px solid #fff;
            position: relative;
            z-index: 2;
            // top: 17em;
            left: 0.5em;
            bottom: 13em;
            margin-left: 40px;

            @include mobile{
                display: none;
            }
        }

        .img_containerr{
            width: 359px;
            height: 260px;
            flex-shrink: 0;
            border-radius: 200px 25px;
            border: 2px solid #fff;
            position: relative;
            // top: 17em;
            left: 4.5em;
            bottom: 13em;
            margin-right: 50px;
            z-index: 2;


            @include mobile{
                display: none;
            }
        }

        .item_imgr{
            width: 380px;
            height: 280px;
            object-fit: cover;
            border-radius: 200px 25px;
            position: relative;
            left: 3.9em;
            position: relative;
            bottom: 30em;

            @include mobile{
                display: none;
            }
        }
        .item_text{
            color: #0E5205;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            margin-left: 40px;
            position: relative;
            bottom: 11em;

            @include mobile{
                position: relative;
                top: -8em;
                margin: auto;  
            }
        }

        .item_righttext{
            color: #0E5205;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            margin-right: 30px;
            position: relative;
            bottom:8.2em;
            left: 1.4em;

            @include mobile{
                margin: auto;
                left: 0;
            }

        } 
        
        .item_description{
            color: #0E5205;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 153.699%;
            margin-left: 40px; 
            position: relative;
            bottom: 20em;

            // @include tablet{
            //     width: 80%;
            //     height: 20vh;
               
            // }

            @include mobile{
                font-size: 16px;
                padding: 10px;
                font-weight: 400;
                margin: auto;
                bottom: 19em;
                background: #0e52057c; 
                border-radius: 10px;
                box-shadow: 0px 0px 20px 1px #0e52056c;
      
            }
        }
        .item_descriptionn{
            color: #0E5205;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 153.699%;
            margin-left: 54px;
            position: relative;
            bottom: 14.5em;
            text-align: start;

            
            // @include tablet{
            //     width: 80%;
            //     height: 20vh;
            //     margin-top: 220px;
            //     // margin: 70px;
            // }

            @include mobile{
                font-size: 16px;
                padding: 10px;
                font-weight: 400;
                margin: auto;
                bottom: 20em;
                background: #0e52057c; 
                border-radius: 10px;
                margin-bottom: 12px;
                box-shadow: 0px 0px 20px 1px #0e52056c;           
            }

        }

        .end_text{

            @include mobile{
                margin: auto;
            }

            // @include tablet{
            //     position: relative;
            //     bottom: 2.5em;
            // }
          
            .word{
                color: #0E5205;
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 60px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                text-align: start;
                position: relative;
                right: 247px;
                margin-top: -29%;
                bottom: 2em;

                @include mobile{
                    text-align: center;
                    position: relative;
                    left: 0;
                    bottom: 3em;
                    font-size: 50px;
                   
                }
            }
        }
    }

    .middle_items{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        position: relative;
        left: 1em;

        @include mobile{
            display: none;
        }
        .item_icon{
            object-fit: cover;
            position: relative;
            left: 0.2em;
            bottom: 75.5em;

        }

        .item_icon2{
            position: relative;
            bottom: 62.5em;
            left: 0.2em;
        }

        .item_icon3{
            position: relative;
            bottom: 44em;
            left: 0.2em;
        }
        .scrolly_line{
            width: 1px;
            height: 1200px;
            border: 1px dashed #0E5205 ;
            position: relative;
            left: 0.2em;
            bottom: 11em;
        }

        .borderShape{
            width: 70px;
            height: 43px;
            flex-shrink: 0;
            border-radius: 25px 5px;
            background: #0A4102;
            position: relative;
            left: 0.2em;
            bottom: 75.5em;

        }
        .borderShape2{
            width: 70px;
            height: 43px;
            flex-shrink: 0;
            border-radius: 25px 5px;
            background: #0A4102;
            position: relative;
            bottom: 62.5em;
            left: 0.2em;
        }

        .borderShape3{
            width: 70px;
            height: 43px;
            flex-shrink: 0;
            border-radius: 25px 5px;
            background: #0A4102;
            position: relative;
            bottom: 44em;
            left: 0.2em;
        }
    }
}