@import "../../../../App.scss";

.fm_container{
    width: 70%;
    height: 86vh;
    background-color: #E7EEE6;
    border-radius: 8%;
    margin: auto;
    @include mobile{
        height: auto;
    }

    
   
}

// .fm_container > .fm_header{
    /* width: 28%;
    height: 50px;
    background-color: #0E5205;
    border-top-left-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; */
// }

.fm_header > h3{
    color: #0E5205;
    font-family: "Lato-Black", Helvetica;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: normal;
    transform: rotate(-1deg);
    margin-left: 6%;
}

.fm_container > .fm_elements{
    margin: 20px;
    line-height: 30px;
}

.fm_elements > .fm_content{
    height: auto;
}

.fm_content > form{
    height: 70vh;
    margin: 20px;

   
}

form > label{
    color: #0c5303;
    font-family: "Lato-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

form > .Npt{
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(196, 196, 196, 0.1) 100%);
    border: 2px solid rgb(10.49, 63.31, 3.8);
    border-radius: 8px;
    height: 35px;
    outline: none;
    opacity: 0.5;
    color: #0c5303;
    font-family: "Montserrat-Light", Helvetica;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    padding-left: 20px;
   
    
}
.Npt::placeholder{
    opacity: 0.50;
     color: #0C5303;
      font-size: 15px; 
      font-family: Montserrat ,sans-serif; 
      font-weight: 300; 
      word-wrap: "break-word";
}
form > textarea{
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(196, 196, 196, 0.1) 100%);
    border: 2px solid rgb(10.49, 63.31, 3.8);
    border-radius: 15px;
    left: 0;
    opacity: 0.5;
    width: 333px;
    outline: none;
    color: #0c5303;
    font-family: "Montserrat-Light", Helvetica;
    font-size: 15px;
    font-weight: 300;
}
textarea::placeholder{
    opacity: 0.50;
     color: #0C5303;
      font-size: 15px; 
      font-family: Montserrat ,sans-serif; 
      font-weight: 300; 
      position: relative;
      padding-left: 20px;
      

}


.fm_container > .fm_footerimg{
    display: flex;
    justify-content: center;
    

}

.fm_footerimg > img{
    width: 100%;   
}

form> .Sbtn{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 30%;
    border-color: transparent;
    border-image: linear-gradient(to bottom ,rgb(12, 83,3), rgb(77.57,228.44,58.44))1;
    box-shadow: 0px 4px 15px 2px #0c530378;
    background: linear-gradient(109deg, #0e5804c5 0%, #4EE43A 100%);
    position: relative;
    bottom: 9em;
    left: 20em;
    font-size: 20px;
    opacity: 0.90;
    border: 1px #0C5303 solid;
}

form > .fm_img{
    position: relative;
    bottom: 18em;
    left: 23em;
    display: flex;
    flex-direction: column; 
    gap: 30px;
}
.fm_img > .form_date{ 
    color: #0C5303; 
    text-align: start; 
    font-family: Lato ,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;

}

.fm_img  > .Npt{
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(196, 196, 196, 0.1) 100%);
    border: 2px solid rgb(10.49, 63.31, 3.8);
    border-radius: 8px;
    height: 35px;
    outline: none;
    opacity: 0.5;
    color: #0c5303;
    font-family: "Montserrat-Light", Helvetica;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    width: 223px;
   
}


.message{
    color:  #0C5303;
    position: relative;
    text-align: center;
    
}
@media screen and (max-width: 768px) {
    body ,html{
        overflow-x: hidden;
    }

    .fm_container{
        width: 90%;
        
    }
   .fm_container> .fm_header{
    width: 100%;
    border-radius: 0%;
        
    }

    .fm_header > h3{
        transform: rotate(1deg);


    }
    .fm_elements{
        display: flex;
        flex-direction: column;
       
    }
    .fm_content > form{
              height: 80vh;
    }
    form{
        width: 100%;
        margin: 20px;
        line-height: 25px;
  
       
    }
    form > .Npt{
        width: 85%;
    }
    .fm_img > img{
        display: none;
    }
    form > textarea{
        width: 85%;
    }

    form > .Sbtn{
        left: 0;
        top: 1em;
        width: 50%;
    }
    .Npt::placeholder{
        margin: auto;
   
    }

    form > .fm_img{
        left: 0;
        bottom: 0;
        gap: 20px;
    }
   

   

 
}
