@import "../../../App.scss";

.Footer{
    width: 100%;
    height: 70vh;
    position: relative;
    top: 12em;
    

    @include mobile{
        position: relative;
        top: 132em;
    }

    img{
        object-fit: cover;
        width: 100%;

        @include mobile{
            width: 100%;
        }
        
    }

    
.main_footer{
    height: 55vh;
    width: 100%;
    background: #0A4002 ;
    position: relative;
    bottom: 0.3em;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

    @include tablet{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap:10px;
    }

    @include mobile{
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
    }

    .footer_img{
        img{
            object-fit: cover;
            position: relative;
            bottom: 2.5em;
        }
    }

    .footer-links{
        h3{
            color: rgba(255, 255, 255, 0.50);
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 158.789%;
            position: relative;
            bottom: 1em;
        }

        ul{
            padding: 10px;
            position: relative;
            bottom: 2em;

            li{
                
                list-style: none;

               .footer_ancho{
                    text-decoration: none;
                    color: #e6e6e6;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 158.789%;
                }

                .footer_ancho:hover{
                    color: #95aa91bb;
                    transition: all 0.4s ease-in-out;
                }
            }
            
        }

    }


    .footer_icons{
        display: flex;
        position: relative;
        bottom: 10em;
        gap: 5px;

        img{
           object-fit: cover;
           width: 65%;
           cursor: pointer;
        }

        @include mobile{
            position: relative;
            top: 0.1em;
        }
    }

}
    
}
