@import "../../../App.scss";

.Footer{
    width: 100%;
    height: 70vh;
    position: relative;
    top: 12em;
  
    

    @include mobile{
        position: relative;
        top: 132em;
    }

    img{
        object-fit: cover;
        width: 100%;

        @include mobile{
            width: 100%;
        }
        
    }

    .popup-container{
        margin: auto;
        position: relative;
        position: fixed;
        top: 0;
        left: 8em;
        z-index: 999;
        width: 80%;
    
        @include mobile{
            width: 100%;
           
        }
        
        .form_container{
            border-radius: 5%;
           
    
            
    
            .form_header{
                border-top-left-radius: 30%;
            }
            .form_elements{
                display: flex;
                @include mobile{
                    display: flex;
                    flex-direction: column;
                }
                
    
                .form_content{
                    height: auto;
    
                    @include mobile{
                        height: 90vh;
                    }
                    
    
                    form{
                        height: 70vh;
                        display: flex;
                        flex-direction: column ;
                        justify-items: center;
                        justify-content: space-around;
                        
                        @include mobile{
                            display: flex;
                            flex-direction: column;
                            height: 70vh;
                            margin-top: 90px;
                            
                            
                        }
                        
                        
                        .input_flds{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            justify-items: center;
                            margin: auto;
                            @include mobile{
                                display: flex;
                                flex-direction: column;
                            }
                            
                            
                            .input_container{
                                   display: flex;
                                   justify-content: space-around;
                                   align-items: center;
                                   justify-items: center;
                                   gap: 40%;
    
                                   @include mobile{
                                    display: flex;
                                    flex-direction: column;
                                    gap: 0;
                                    
                                }
                        
    
                                   .input{
                                    display: flex;
                                    flex-direction: column;
    
                                    label{
                                        color: #0c5303;
                                        font-family: "Lato-SemiBold", Helvetica;
                                        font-size: 14px;
                                        font-weight: 400;
                                        letter-spacing: 0;
                                        line-height: normal;
    
                                    }
                                    input{
                                        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(196, 196, 196, 0.1) 100%);
                                        border: 2px solid rgb(10.49, 63.31, 3.8);
                                        border-radius: 8px;
                                        height: 45px;
                                        outline: none;
                                        opacity: 0.5;
                                        color: #0c5303;
                                        font-family: "Montserrat-Light", Helvetica;
                                        font-size: 15px;
                                        font-weight: 300;
                                        letter-spacing: 0;
                                        line-height: normal;
                                        opacity: 0.5;
                                        padding-left: 20px;
    
                                        @include mobile{
                                            height: 30px;
                                        }
    
                                    }
                                    textarea{
                                        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(196, 196, 196, 0.1) 100%);
                                        border: 2px solid rgb(10.49, 63.31, 3.8);
                                        border-radius: 15px;
                                        left: 0;
                                        opacity: 0.5;
                                        width: 233px;
                                        outline: none;
                                        color: #0c5303;
                                        font-family: "Montserrat-Light", Helvetica;
                                        font-size: 15px;
                                        font-weight: 300;
                                        padding-left: 20px;
                                        padding-top: 10px;
                                        @include mobile{
                                            height: 40px;
                                        }
                                    
                                    }
    
    
                                   }
                                                    
                             }
                        }
                        button{
                            left:15em;
                            bottom: 0;
                            width: 20%;
    
                            @include mobile{
                                left: 0;
                                margin: auto;
                                width: 40%;
                            }
                        }
    
                       
                    }
                }
                
            }
        }
    
        @include mobile{
            bottom: 55em;
            left: 0;
            height: 10vh;
        }
       
            .popup{
                .close-btn{
                    position: relative;
                    left: 68em;
                    top: 1em;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    border: none;
                    background: #E7EEE6;
                   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                   cursor: pointer;
    
                   @include mobile{
                    left: 25em;
                    top: 2em;
                   }
                  
                }
               
            }
        }

    
.main_footer{
    height: 55vh;
    width: 100%;
    background: #0A4002 ;
    position: relative;
    bottom: 0.3em;
    display: flex;
    gap: 10px;
   justify-content: center;
    // justify-content: space-around;
    justify-items: center;
    align-items: center;

    // @include tablet{
    //     display: grid;
    //     grid-template-columns: repeat(4,1fr);
    //     grid-gap:10px;
    // }

    @include mobile{
        height: 70vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
        
        
    }

    .blur {
        filter: blur(8px); 
      
      }
    

    .footer_img{
        .footer_logo{
            object-fit: cover;
            position: relative;
            bottom: 2.5em;
            left: 5em;

            @include mobile{
                bottom: 0;
                left: 0;
            }
        }
    }

    .footer-links{
        margin-left: 13%;
       

        @include mobile{
            margin-top: 40px;
            height: 2vh;
            position: relative;
            bottom: 2em;
            right: 0.5em;

            
        }
        h3{
            color: rgba(255, 255, 255, 0.50);
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 158.789%;
            position: relative;
            bottom: 1em;

            @include mobile{
                font-size: 17px;
            }
        }

        ul{
            padding: 10px;
            position: relative;
            bottom: 2em;

            li{
                
                list-style: none;

               .footer_ancho{
                    text-decoration: none;
                    color: #e6e6e6;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 158.789%;

                    @include mobile{
                        font-size: 16px;
                    }
                }

                .footer_ancho:hover{
                    color: #95aa91bb;
                    transition: all 0.4s ease-in-out;
                }
            }
            
        }

    }


    .footer_icons{
        display: flex;
        position: relative;
        bottom: 10em;
        gap: 5px;

        img{
           object-fit: cover;
           width: 65%;
           cursor: pointer;
        }

        @include mobile{
            position: relative;
            top: 0.1em;
        }
    }

}
    
}

