@import "../../../App.scss";

.Footer{
    width: 100%;
    height: 70vh;
    position: relative;
    top: 12em;
    

    @include mobile{
        position: relative;
        top: 132em;
    }

    img{
        object-fit: cover;
        width: 100%;

        @include mobile{
            width: 100%;
        }
        
    }

    
.main_footer{
    height: 55vh;
    width: 100%;
    background: #0A4002 ;
    position: relative;
    bottom: 0.3em;
    display: flex;
    gap: 10px;
    
    // justify-content: space-around;
    justify-items: center;
    align-items: center;

    // @include tablet{
    //     display: grid;
    //     grid-template-columns: repeat(4,1fr);
    //     grid-gap:10px;
    // }

    @include mobile{
        height: 70vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
        
        
    }

    .footer_img{
        .footer_logo{
            object-fit: cover;
            position: relative;
            bottom: 2.5em;
            left: 5em;

            @include mobile{
                bottom: 0;
                left: 0;
            }
        }
    }

    .footer-links{
        margin-left: 13%;
       

        @include mobile{
            margin-top: 40px;
            height: 2vh;
            position: relative;
            bottom: 2em;
            right: 0.5em;

            
        }
        h3{
            color: rgba(255, 255, 255, 0.50);
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 158.789%;
            position: relative;
            bottom: 1em;

            @include mobile{
                font-size: 17px;
            }
        }

        ul{
            padding: 10px;
            position: relative;
            bottom: 2em;

            li{
                
                list-style: none;

               .footer_ancho{
                    text-decoration: none;
                    color: #e6e6e6;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 158.789%;

                    @include mobile{
                        font-size: 16px;
                    }
                }

                .footer_ancho:hover{
                    color: #95aa91bb;
                    transition: all 0.4s ease-in-out;
                }
            }
            
        }

    }


    .footer_icons{
        display: flex;
        position: relative;
        bottom: 10em;
        gap: 5px;

        img{
           object-fit: cover;
           width: 65%;
           cursor: pointer;
        }

        @include mobile{
            position: relative;
            top: 0.1em;
            left: 1.4em;
        }
    }

}
    
}
