@import "../../../App.scss";

.AboutUs{
    .nav{
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        position: relative;
        bottom: 2em;


        .Hero_logo{
            margin-left: 15%;
            margin-top:20%;

            @include mobile{
                width: 170px;
                position: relative;
                left: 12em;
                bottom: 1.5em;
            }

            // @include tablet{
            //     left: 34em;
            // }
        }

        ul{
            display: flex;
            gap: 20px;
            margin-right: 5%;

            @include mobile{
                display: none;
            }

            li{
                list-style: none;

                a{
                    text-decoration: none;
                    color: #0E5205;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 100;
                    line-height: normal;

                    button{
                        border-radius: 40px;
                        background: #0E5205;
                        width: 200px;
                        height: 45px;
                        color: #FFF   ;
                        font-family: 'Noto Sans JP', sans-serif;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        border: none;
                        cursor: pointer;

                        img{
                            position: relative;
                            top: 4px;
                            left: 1;


                        }
                    }
                }
                a:active{
                    color: white;
                    font-weight: bold;
                }

                
            
            }
            
            .productDrop{
                .activeLink{
                    display:flex;
                }

                    .productList{
                        
                        background-color: #0e5205bd;
                        backdrop-filter: blur(8px);
                        -webkit-backdrop-filter: blur(2px);
                        width: 283px;
                        height: 320px;
                        display: none;
                        position: absolute;
                        left: -46%;
                        top:2em;
                        z-index: 9;
                        border-radius: 15px;
                        
                        
            
            
                        ul{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin: 10px;
            
                            li{
                                text-align: center;
                                font-size: 12px;
            
                            .listItem{
                                     color:white;
                                    font-size: 22px;
                                    font-weight: 300;
                                }
            
                                .listItem:hover{
                                    font-weight: 400;
                                
                                }
                            }
                        
                        
                        
            
                        }
                    }
            
                }
                img{
                    position:relative;
                    top:6px
                }
            
                .productDrop:hover img{
                   
                    transform: translateY(2px);
                    transition: all 0.4s;
                }
                
                .productDrop:hover .productList{
                    display: block;
                    // transform: translateY(20px);
                
                }
            
            }
    }

}