@import "../../../App.scss";

.MapContainer{
    .MapContaine{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-items:center ;
    align-items: center;
    position: relative;
    margin: auto;
    gap: 20px;

    @include mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 12em;


    }

    .map{
        display: flex;
        align-items: center;
        justify-content: center;
    

        h2{
            color: #0E5205;
            text-align: right;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 45px;
            font-style: normal;
            font-weight: 900;
            line-height: 50px;
            position: relative;
            left: 3em;
            bottom: 0.8em;

            @include mobile{
                font-size: 25px;
                position: relative;
                left: 3em;
                bottom: 2em;
                line-height: 32px;
            }
        }

        img{
            width: 502px;
            height: 440px;
            position: relative;
            right: 4em;
            bottom: 8em;

            @include mobile{
                width: 302px;
                height: 320px;
                object-fit: cover;
                position: relative;
                right: 2.3em;
            }
        }
    }

    .map_texts{
        position: relative;
        right: 5em;
        bottom: 4em;

        p{
            color: #0E5205;
            text-align: end;
            font-size: 10px;

            @include mobile{
                text-align: center;
                font-size: 16px;
                position: relative;
                left: 4em;
            }

            .spn{
                color: #0E5205;
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 22px;
                font-weight: 300;
                line-height: normal;
                text-align: end;

                @include mobile{
                    font-size: 16px;
                    margin: auto;
                    text-align: center;
                }
            }

            span{
                color: #0E5205;
                text-align: right;
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 25px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;

                @include mobile{
                    text-align: center;
                    font-size: 25px;
                }
            }

            h2{
                position: relative;
                right: 4em;
                bottom: 2em;
                font-size: 12px;
              

                @include mobile{
                    text-align: center;
                    font-size: 14px;
                    position: relative;
                    left: 1em;

                }
            }

            .pargraph{
                font-size: 18px;
                text-align: end;
                font-weight: 390;
                position: relative;
                bottom: 1em;

                @include mobile{
                    position: relative;
                    left: 1em;
                    text-align: center;                    
                    bottom: 2.5em;
                    width: 100%;
                    font-size: 16px;
                    margin: 50px 20px;
                }

            }    
        }

        .btn{
            display: flex;
            justify-content: flex-end;
            position: relative;
            bottom: 2em;

            button{
            border-radius: 40px;
            background:#0E5205;
            width: 180px;
            height: 45px;
            color: white;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: none;
            cursor: pointer;
            border: 1px solid   #0E5205;
            position: relative;
            right: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
        
            img{
                color: white;
                width: 22px;
                margin-bottom: 4px;
            }
        }

        button:hover  img{
            transition: all 0.2s ease-in-out;
            transform: translateX(5px);
        }

        }    
    }

  
}
// call this css
  .popup-container{
    margin: auto;
    position: relative;
    position: fixed;
    top: 0;
    left: 12em;
    z-index: 999;

    @include mobile{
        bottom: 55em;
        left: 0;
        height: 10vh;
    }
   
        .popup{
            .close-btn{
                position: relative;
                left: 58em;
                top: 1em;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                border: none;
                background: #E7EEE6;
               box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
               cursor: pointer;

               @include mobile{
                left: 0;
               }
              
            }
           
        }
    }

}
