.Intro{
    width: 100%;
    height: 100vh;


   .sides{
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
   

      .leftSide{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-bottom: 3%;
        

        .Side_text{
            p{
                width: 395px;
                color: #0E5205;
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: 144%;
              

                .bold_text{
                    color: #0E5205;
                    text-align: justify;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 27px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 144%; 
                }
            }

        }

        .side_Img{
            width: 436px;
            height: 258px;
            flex-shrink: 0;
            border-radius: 40px;
            border: 3px solid #FFF;
            background: url("assets/gsrr.png");
            margin-left: 10%;


            .imgContainer{
                width: 436px;
                height: 258px;
                object-fit: cover;
                border-radius: 40px;
                background: rgba(14, 82, 5, 0.29);
                // margin-left: 1%;
            }
        }


      }

      .rightSide{
          

        .side_Img{
            width: 436px;
            height: 258px;
            flex-shrink: 0;
            border-radius: 40px;
            border: 3px solid #FFF;
            background: url("assets/gsrr.png");


            .imgContainer{
                width: 436px;
                height: 258px;
                object-fit: cover;
                border-radius: 40px;
                background: rgba(14, 82, 5, 0.29);
            }
        }

        .Side_text{
            p{
                width: 395px;
                color: #0E5205;
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: 144%;
                margin-left: 10%;
                

                .bold_text{
                    color: #0E5205;
                    text-align: justify;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 27px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 144%; 
                }
            }

        }
        
      }

   }
}