@import "../../../App.scss";
.Section6B{
    width: 100%;
    height: 100vh;
    margin-top: 40%;

    // @include tablet{
    //     margin-top: 20%;
    //     margin-bottom: -40%;
    // }

    @include mobile{
        max-width: 100%;
        position: relative;
        top: 36em;
    }

    .page6Head{

        color: #0E5205;
        text-align: right;
        font-family: Lato ,sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: end;
        margin-right: 5%;

        @include mobile{
            font-size: 30px;
            
        }
    }

    .sectionCards{
        display: flex;
        justify-content: space-around;
        justify-items: center;

        @include mobile{
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        .P5Cards{

            @include mobile{
                display: flex;
                flex-direction: column;
            }

            .card{
                margin: 20px;
                padding: 10px;

               

                @include mobile{
                    background: #0e52057c;
                     height: auto;
                    border-radius: 10px;

                }
                

                h3{
                    color: #0E5205;

                    font-family: Lato;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;

                    // @include tablet{
                    //     margin: 10px;
                    //     padding: 10px;
                    
                    // }

                }

                li{
                    color: #0E5205;
                    font-family: Inter;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 125%;
                    width: 428px;
                    height: 97px;
                    margin: 5px;
                    flex-shrink: 0;

                  
                    @include mobile{
                        width: 310px;
                        font-size: 19px;
                        text-align: start;
                    }
                }
            }

            .card:hover{
                transition: all 0.3s ease-in-out;
                background: #0e52057c;
                
                border-radius: 10px;
                box-shadow: 0px 0px 20px 1px #0e520556;           

                // z-index: 99;
            }
        }
        
    }

    .horizontalline{
        background-color: #0E5205;
        width: 2px;
        height: 80vh;
        position: relative;
        bottom: 35em;
        left: 88.6em;

        @include mobile{
            display: none;
        }
    }

}