

  
  .plants{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: relative;
    top: 4rem;
  }

  .plants > .plant_img{
    display: flex;
    flex-direction: column;

  }

  .plant_img > img{

    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
 
  }

  .plant_img > h1{
    color: #0E5205;

    text-align: center;
     font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .newSection{
    display: flex;
    justify-content: center;
  }

  h1 > .countUp{
    color: #0E5205;
    text-align: center;
     font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

 
  @media screen and (max-width: 768px) {

  

    

    .plants{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap:30px;
      margin-right: 15%;
      flex-direction: column;
      margin-bottom: -50%;
    }

    .plant_img{
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .plant_img > h1{
     position: relative;
     top: 0  ;
     font-size: 15px;
    }

    .h1 > .countUp{
      font-size: 1px;
    }

    .rotating_paragraph{
      font-size: 15px;
      position: relative;
      bottom: 22em;
    }

    .h1{
      margin-bottom: 120%;  
    }

    .newSection > img{
      width: 100%;
      object-fit: cover;
      background-size: cover;
      background-position: center;
    }
  }

  @media screen and (max-width:414px){

  
  }

  // @media screen  and (max-width:1024px){
  //   .plants{
  //     display: flex;
  //     flex-direction: row;
  //     flex-wrap: wrap;
  //   }

    
  // }




  