@import "../../../App.scss";


.FinalSection{
    background: url("/DALLE2.webp");
    background-size: cover;
    height: 129vh;
    width: 100%;
    margin-top: 22%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

    @include mobile{
        background-size: contain;
        height: 10vh;
        position: relative;
        top: 50em;
        margin-bottom: -1220px;
    }

    // @include tablet{
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     object-fit: cover;

    // }

    .FinalSectionText{
     
        h2{
            width: 522px;
            height: 109px;
            flex-shrink: 0;
            color: #0E5205;
            text-align: center;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 70px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            position: relative;
            bottom: 1.5em;
            left: 1em;

            // @include tablet{
            //     position: relative;
            //     top: 1em;
            // }


            @include mobile{
                height: 100vh;
                position: relative;
                left:3.2em;
                font-size: 50px;
                margin-bottom: -120px;
                
            }
        }

    
    }

    .SectionDescription{
          
        p{
            width: 620px;
            height: 390px;
            flex-shrink: 0;
            color: #0E5205;
            text-shadow: 4px 4px 4px #FFF;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            text-align: start;
            position: relative;
            top: 5em;
            right: 1.5em;

            // @include tablet{
            //     position: relative;
            //     top: 10em;
            //     margin-top: 180px;
            //    text-align: start;
            // }

            @include mobile{
                height: 100vh;
                font-size: 20px;
                position: relative;
                text-align: center;
                right:13em;
                top: 9em;
                width: 310px;
            }
        }
    }
    

}