@import "../../../App.scss";

.Page5II{
    display: flex;
    height: 100vh;
    width: 100%;
    margin-top: 30%;
    margin-left: 4.5%;
    // justify-content: space-around;
    justify-items: center;

    // @include tablet{
    //     position: relative;
    //     top: -66em;

        
    // }

  
    @include mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        height: 100vh;
        margin-top: 210%;
        margin-bottom: 100%;
    }


    .sideOne{
        margin-top: 10%;
        margin-left: 5%;
        

        @include mobile{
            margin: auto;
        }
      
        .Rimage{
            position: relative;
            bottom: 11.5em;
            left: 4em;
            object-fit: cover;

           @include mobile{
            // margin: auto;
            position: relative;
            bottom: 4em;
            left: 0;
           }


        }
        .Limage{
            width: 480px;
            height: 350px;
            position: relative;
            bottom: 6em;
            object-fit: cover;
            left: 1em;

            @include mobile{
            margin: auto;
            bottom: 0;
            width: 350px;
            // height: 220px;
          
           }
        }

        .textcontainer {
            position: relative;
            bottom: 5em;

            @include mobile{
                margin: auto;
            }
            h3{
                color: #0E5205;

                font-family: 'Noto Sans JP', sans-serif;
                font-size: 25px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                width: 433px;
                height: 42px;
                flex-shrink: 0;
                position: relative;
                bottom: 1em;
                left: 1em;

             
                @include mobile{
                    font-size: 18px;
                    text-align: start;
                    width: 100%;
                    bottom: 0;
                    
                }
            }

            p{
                color: #0E5205;
                font-family: Inter , sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 300;
                line-height: 23px;
                width: 433px;
                height: 202px;
                flex-shrink: 0;
                margin: 20px;

                

              

                @include mobile{
                    width: 323px;
                    margin: auto;
                    padding: 20px;
                }

                li{
                    color: #0E5205;

                    font-family: Inter ,sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 125%;
                    text-align: justify;

                    .li_text{
                        position: relative;
                        right: 0.8em;
                    }

                    @include mobile {
                        margin: 2px;
                    }
                }
            }
        }

        .textcontainerr {
            position: relative;
            bottom: 3em;
            
            h3{
                color: #0E5205;

                font-family: 'Noto Sans JP', sans-serif;
                font-size: 25px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                width: 433px;
                height: 42px;
                flex-shrink: 0;
                position: relative;
                bottom: 1em;
                left: 1em;
                

             
                @include mobile{
                    font-size: 18px;
                    text-align: start;
                    width: 100%;
                }
            }

            p{
                
                color: #0E5205;
                font-family: Inter , sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 300;
                line-height: 23px;
                width: 433px;
                height: 202px;
                flex-shrink: 0;
                margin: 20px;
                

              

                @include mobile{
                    width: 323px;
                    margin: auto;
                    padding: 20px;
                }

                li{
                    color: #0E5205;

                    font-family: Inter ,sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 23px;
                    text-align: justify;

                    
                .li_text{
                    position: relative;
                    right: 0.8em;
                }

                    @include mobile {
                        margin: 2px;
                    }
                }
            }
        }

        
    }

    .mddle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;

        // @include tablet{
        //     position: relative;
        //     bottom: 3em;
        // }

        @include mobile{
            padding: 90px;
        }

        .treeBlock{
            border-radius: 25px 5px;
            background: #0A4102;
            width: 70px;
            height: 43px;
            flex-shrink: 0;
        }
    }
}