@import "../../../App.scss";

.Page5II{
    display: flex;
    height: 100vh;
    width: 100%;
    margin-top: 30%;
    justify-content: space-around;
    justify-items: center;

    @include tablet{
        position: relative;
        top: -66em;

        
    }

    @include mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        height: 100vh;
        margin-top: 180%;
        margin-bottom: 100%;
    }


    .sideOne{
        margin-top: 10%;
        margin-left: 5%;
        

        @include mobile{
            margin: auto;
        }
      
        .Rimage{
            width: 350px;
            height: 250px;
            position: relative;
            bottom: 1em;
            margin: 20px;
            border-radius: 200px 25px;         
            border: 2px solid #8d8d8d4b;
            padding: 10px;

           @include mobile{
            margin: auto;
            position: relative;
            top: 2em;
           }


        }
        .Limage{
            width: 350px;
            height: 250px;
            position: relative;
            bottom: 6em;
            margin: 20px;
            border-radius: 30px 200px;
            border: 2px solid #8d8d8d4b;
            padding: 10px;

            @include mobile{
            margin: auto;
          
           }
        }

        .textcontainer {
            position: relative;
            bottom: 3em;
            h3{
                color: #0E5205;

                font-family: 'Noto Sans JP', sans-serif;
                font-size: 25px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                width: 433px;
                height: 42px;
                flex-shrink: 0;
                position: relative;
                bottom: 1em;

             
                @include mobile{
                    font-size: 22px;
                    text-align: center;
                    width: 100%;
                }
            }

            p{
                color: #0E5205;
                font-family: Inter , sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 125%;
                width: 483px;
                height: 202px;
                flex-shrink: 0;
                margin: 20px;

              

                @include mobile{
                    width: 323px;
                    margin: auto;
                    padding: 20px;
                }

                li{
                    color: #0E5205;

                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 125%;

                    @include mobile {
                        margin: 2px;
                    }
                }
            }
        }

        
    }

    .mddle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;

        @include tablet{
            position: relative;
            bottom: 3em;
        }

        @include mobile{
            padding: 90px;
        }

        .treeBlock{
            border-radius: 25px 5px;
            background: #0A4102;
            width: 70px;
            height: 43px;
            flex-shrink: 0;
        }
    }
}